<div *ngIf="loading" class="container my-3">

  <div class="row justify-content-center">
    <div class="col-12">

    </div>

    <div class="card col-12">
      <div class="card-body">
        <h3 class="card-title">{{madProductFinded.productName}}</h3>

        <div class="row">

          <div class="col-12 col-xl-6">
            <img class="cont-img" src="{{madProductFinded.photo}}" height="350px" style="object-fit: cover;">
            <div class="mt-3">
              <label><h5>Código: {{madProductFinded.codProduct}}</h5></label>
            </div>
          </div>

          <div class="col-12 col-xl-6">
            <div>
              <label>Sus etapas de transformación son provenientes de:</label>
            </div>
            <div class="my-3">
              <div class="my-3">
                <h5 (click)="toglePrimary()" class="cursor">
                  <i-feather name="plus"></i-feather>
                  Transferencia Primaria
                </h5>
                <div *ngIf="showPrimary">
                  <p><strong>ID: </strong>{{madProductFinded.primaryTrans.idPri}}</p>
                  <p><strong>Código de Maquinaria 1: </strong> {{madProductFinded.primaryTrans.codMachineryOne}}</p>
                  <p><strong>Código de Maquinaria 2: </strong> {{madProductFinded.primaryTrans.codMachineryTwo}}</p>
                  <p><strong>Código de Transferencia: </strong>{{madProductFinded.primaryTrans.codTransPri}}</p>
                  <p><strong>Fecha de elaboración: </strong>{{madProductFinded.primaryTrans.dateElaborationP | date: 'dd/MM/yyyy'}}</p>
                  <!-- <p>Porcentaje de maquina 1: {{madProductFinded.primaryTrans.percentageOne}}</p>
                  <p>Porcentaje de maquina 2: {{madProductFinded.primaryTrans.percentageTwo}}</p> -->
                  <p><strong>Tiempo de elaboración: </strong> {{madProductFinded.primaryTrans.timeElaborationP}}</p>
                </div>


              </div>

              <div class="my-3">
                <h5 (click)="togleSecondary()" class="cursor">
                  <i-feather name="plus"></i-feather>
                  Transferencia Secundaria
                </h5>
                <div *ngIf="showSecondary">
                  <p><strong>ID: </strong>{{madProductFinded.secondaryTrans.idSec}}</p>
                  <p><strong>Código de Maquinaria 1: </strong> {{madProductFinded.secondaryTrans.codMachinaryOne}}</p>
                  <p><strong>Código de Maquinaria 2: </strong> {{madProductFinded.secondaryTrans.codMachinaryTwo}}</p>
                  <p><strong>Código de Transferencia: </strong>{{madProductFinded.secondaryTrans.codTransSec}}</p>
                  <p><strong>Fecha de elaboración: </strong>{{madProductFinded.secondaryTrans.dateElaborations | date: 'dd/MM/yyyy'}}</p>
                  <!-- <p>Porcentaje de maquina 1: {{madProductFinded.secondaryTrans.percentageOne}}</p>
                  <p>Porcentaje de maquina 2: {{madProductFinded.secondaryTrans.percentageTwo}}</p> -->
                  <p><strong>Tiempo de elaboración: </strong> {{madProductFinded.secondaryTrans.timeElaborations}}</p>
                </div>
              </div>

            </div>

          </div>


        </div>

      </div>

    </div>



  </div>

</div>
