
<div class="container">
  <h3 class="my-2">Usuarios</h3>

  <button routerLink='/user-management/create' routerLinkActive="router-link-active"  class="btn btn-secondary">
    <i-feather name="plus-circle"></i-feather>
    <span>Añadir Usuario</span>
  </button>
  <div class="row">
    <div class="col-12"></div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="table-responsive my-2">
        <table class="table table-bordered table-hover">
          <thead class="table-header-color">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Rol</th>
              <th scope="col">Estado</th>
              <th scope="col">Eliminar</th>
              <!-- <th scope="col">Editar</th> -->

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of userList; let index = i">
              <th scope="row">{{item.id}}</th>
              <td>{{item.name}}</td>
              <td>{{item.type}}</td>
              <!-- <td>{{getState(item.status)}}</td> -->

              <td>
                <select type="text" class="form-control" (change)="onChangeStatus(item)" [(ngModel)]="item.status"  maxlength="60" name="{{index}}">
                  <option [value]="'1'">Habilitado</option>
                  <option [value]="'0'">Inhabilitado</option>
                </select>
              </td>

              <td><button (click)="deleteUser(item.id)" class="btn btn-warning"><i-feather name="delete"></i-feather></button></td>
              <!-- <td><i-feather name="edit"></i-feather></td> -->
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>
