<div class="container">

  <h3 class="my-2">Crear Transformación Secundaria</h3>

  <div class="d-flex justify-content-center my-4">
    <div class="card col-12 col-md-10 col-xl-7">
      <div class="card-body">
        <form  [formGroup]="createSecondaryTransForm" (submit)="createSecondaryTrans()">
          <div class="form-group">
            <label for="codTransSec">Código</label>
            <input (keyup)="checkAlphanumeric($event)" (keydown)="checkAlphanumeric($event)" type="text" class="form-control" id="codTransSec" formControlName="codTransSec" maxlength="60">
            <small class="form-text text-muted"
            *ngIf="
            createSecondaryTransForm.get('codTransSec').touched &&
            createSecondaryTransForm.get('codTransSec').hasError('required')
            "
            >
            Este campo es requerido
            </small>
          </div>

          <div class="form-group">
            <label for="codMachinaryOne">Código de Maquinaria 1</label>
            <input (keyup)="checkAlphanumeric($event)" (keydown)="checkAlphanumeric($event)" type="text" class="form-control" id="codMachinaryOne"  formControlName="codMachinaryOne" maxlength="60">
            <small class="form-text text-muted"
            *ngIf="
            createSecondaryTransForm.get('codMachinaryOne').touched &&
            createSecondaryTransForm.get('codMachinaryOne').hasError('required')
            "
            >
            Este campo es requerido
            </small>
          </div>

          <div class="form-group">
            <label for="percentageOne">Eficiencia de Maquinaria </label>
            <input (keyup)="keyPressNumbers($event)" (keydown)="keyPressNumbers($event)" type="text" class="form-control" id="percentageOne"  formControlName="percentageOne" maxlength="2">
            <small class="form-text text-muted"
            *ngIf="
            createSecondaryTransForm.get('percentageOne').touched &&
            createSecondaryTransForm.get('percentageOne').hasError('required')
            "
            >
            Este campo es requerido
            </small>
          </div>

          <div class="form-group">
            <label for="codMachinaryTwo">Código de Maquinaria 2</label>
            <input (keyup)="checkAlphanumeric($event)" (keydown)="checkAlphanumeric($event)" type="text" class="form-control" id="codMachinaryTwo" formControlName="codMachinaryTwo" maxlength="60">
            <small class="form-text text-muted"
            *ngIf="
            createSecondaryTransForm.get('codMachinaryTwo').touched &&
            createSecondaryTransForm.get('codMachinaryTwo').hasError('required')
            "
            >
            Este campo es requerido
            </small>
          </div>

          <div class="form-group">
            <label for="percentageTwo">Eficiencia de Maquinaria 2</label>
            <input (keyup)="keyPressNumbers($event)" (keydown)="keyPressNumbers($event)" type="text" class="form-control" id="percentageTwo"  formControlName="percentageTwo" maxlength="2">
            <small class="form-text text-muted"
            *ngIf="
            createSecondaryTransForm.get('percentageTwo').touched &&
            createSecondaryTransForm.get('percentageTwo').hasError('required')
            "
            >
            Este campo es requerido
            </small>
          </div>

          <div class="form-group">
            <label for="dateElaborations">Fecha de Elaboración</label>
            <input type="text"
            id="dateElaborations"
            class="form-control"
            bsDatepicker
            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
            [maxDate]="maxDate"
            formControlName="dateElaborations"
            >
            <small class="form-text text-muted"
            *ngIf="
            createSecondaryTransForm.get('dateElaborations').touched &&
            createSecondaryTransForm.get('dateElaborations').hasError('required')
            "
            >
            Este campo es requerido
            </small>
          </div>

          <div class="form-group">
            <label for="timeElaborations">Tiempo de elaboración</label>
            <input (keypress)="keyPressNumbers($event)" type="text" class="form-control" id="timeElaborations" aria-describedby="inputProductName" formControlName="timeElaborations">
            <small class="form-text text-muted"
            *ngIf="
            createSecondaryTransForm.get('timeElaborations').touched &&
            createSecondaryTransForm.get('timeElaborations').hasError('required')
            "
            >
            Este campo es requerido
            </small>
          </div>

          <div class="d-flex justify-content-center">
            <button class="btn btn-primary mx-2" [disabled]="!createSecondaryTransForm.valid">Crear Transformación</button>
            <button class="btn btn-warning mx-2" routerLink="/primary-transformation">Cancelar</button>
          </div>

        </form>
      </div>
    </div>
  </div>

</div>
