/* You can add global styles to this file, and also import other style files */


$theme-colors: (
  primary:#40261D,
  secondary: #BFA59B,
  success: #8C5D42,
  warning: #73544D,
  info: #8C5D42,
);

@import "~bootstrap/scss/bootstrap.scss";
@import "~ngx-bootstrap/datepicker/bs-datepicker.scss";

.card {
  @extend .card;
  border-radius: 25px;
}


@media (max-width: 992px) {
  .hide-less-lg {
    display: none;
  }
}

.btn-secondary {
  @extend .btn-secondary;
  color: #fff;
}

.form-control {
  @extend .form-control;
  @extend .px-3;
  border-radius: 17px;
}

.btn {
  @extend .btn;
  @extend .px-3;
  border-radius: 17px;
}

.link-navbar {
  color: #fff;
  cursor: pointer;
}

.link-navbar:hover {
  color: rgb(204, 200, 200);
}

@media (max-width: 1140px) {
  .show-only-in-xl {
    display: none;
  }
}

div, h1,h2,h3,h4,h5 {
  color: #362823;
}


/**
STYLING DATE PICKER
**/

.bs-datepicker-body table td.week span
{
  color: #40261D !important;
}

.bs-datepicker-body table td span.selected,
.bs-datepicker-head,
.bs-datepicker-head, .bs-datepicker button:active,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover
{
  background-color: #40261D !important;
}

///
.table-header-color {
  color: white;
  background-color: #8C5D42;
}
