/* You can add global styles to this file, and also import other style files */


$theme-colors: (
  primary:#40261D,
  secondary: #BFA59B,
  success: #8C5D42,
  warning: #73544D,
  info: #8C5D42,
);

@import "~bootstrap/scss/bootstrap.scss";

.card {
  @extend .card;
  border-radius: 25px;
}


@media (max-width: 992px) {
  .hide-less-lg {
    display: none;
  }
}

.form-control {
  @extend .form-control;
  @extend .px-3;
  border-radius: 17px;
}

.btn {
  @extend .btn;
  @extend .px-3;
  border-radius: 17px;
}

.link-navbar {
  color: #fff;
  cursor: pointer;
}

.link-navbar:hover {
  color: rgb(204, 200, 200);
}

@media (max-width: 1140px) {
  .show-only-in-xl {
    display: none;
  }
}
